[Unit]
Description=Nótt UI
After=multi-user.target
StartLimitInterval=0

[Service]
User=pi
WorkingDirectory=/home/pi/app/
Type=idle
ExecStart=/usr/bin/python3 /home/pi/app/ui/ui.py
Restart=always
RestartSec=2s

[Install]
WantedBy=multi-user.target
